body{

font-family:'Segoe UI',sans-serif;
background:linear-gradient(180deg,#ffffff,#ffc5db);

display:flex;
justify-content:center;
align-items:center;

height:100vh;
margin:0;

}

.player{

background:#ffeef6;

border-radius:20px;

box-shadow:0 4px 12px rgba(255,182,193,0.3);

padding:20px;

width:300px;

text-align:center;

}

.cd{

width:200px;
height:200px;

margin:auto;

border-radius:50%;

overflow:hidden;

}

.cover-img{

width:100%;
height:100%;
object-fit:cover;

animation:spin 6s linear infinite;

}

@keyframes spin{

from{transform:rotate(0deg)}
to{transform:rotate(360deg)}

}

.controls{

margin-top:15px;

}